In [ ]:
import json
import pandas as pd
import glob

files = glob.glob("../data/raw/*.json")
dfs = []
for file in files:
    with open(file, encoding="utf-8") as f:
        data = json.load(f)
        dfs.append(pd.json_normalize(data))
df = pd.concat(dfs, ignore_index=True)

In [11]:
import pandas as pd
import sys
import os

# Thêm đường dẫn tuyệt đối tới thư mục src
sys.path.append(os.path.abspath("src"))

from cleaner import main_process



def get_dataframe(file_list):
    all_data = []
    for file in file_list:
        data = main_process(file)
        all_data.extend(data)
    
    df = pd.DataFrame(all_data)
    
    # Bung object 'address' thành các cột riêng biệt để EDA dễ hơn
    if 'address' in df.columns:
        address_cols = df['address'].apply(pd.Series)
        df = pd.concat([df.drop(columns=['address']), address_cols], axis=1)
        
    # Tương tự với 'spec' nếu cần
    if 'spec' in df.columns:
        spec_cols = df['spec'].apply(pd.Series)
        df = pd.concat([df.drop(columns=['spec']), spec_cols], axis=1)
        
    return df

# Chạy thử
files = ['../data/raw/rent_20251222.json', '../data/raw/bds_20251223.json']
df = get_dataframe(files)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800 entries, 0 to 4799
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   post_id            4800 non-null   object
 1   property_url       4800 non-null   object
 2   transaction_type   4800 non-null   object
 3   property_category  4800 non-null   object
 4   title              4800 non-null   object
 5   latitude           4800 non-null   float64
 6   longitude          4800 non-null   float64
 7   price              4800 non-null   object
 8   area               4793 non-null   float64
 9   description        4800 non-null   object
 10  images             4800 non-null   object
 11  date_posted        4800 non-null   object
 12  date_expired       4800 non-null   object
 13  news_type          4800 non-null   object
 14  contact_info       4800 non-null   object
 15  verified           4800 non-null   bool
 16  scraped_at         4800 non-null   object
 17  price_monthly      2215 non-null   float64
 18  rent_per_m2        2215 non-null   float64
 19  project_info       2876 non-null   object
 20  price_per_spm      2739 non-null   object
 21  price_total        2157 non-null   float64
 22  price_per_m2       2157 non-null   float64
 23  legal_status       2052 non-null   object
 24  City               4800 non-null   object
 25  District           4800 non-null   object
 26  Ward               4800 non-null   object
 27  Street             4800 non-null   object
 28  bedroom            2952 non-null   float64
 29  bathroom           2880 non-null   float64
 30  orientation        1508 non-null   object
 31  balcony_direction  1138 non-null   object
 32  exdate             645 non-null    object
 33  electricity        530 non-null    object
 34  water              513 non-null    object
 35  internet           363 non-null    object
 36  furniture          2822 non-null   object
 37  utilities          691 non-null    object
 38  num_floor          1158 non-null   float64
 39  road_width         1102 non-null   float64
 40  front_width        1320 non-null   float64
 41  legal              2088 non-null   object
 42  0                  0 non-null      float64
dtypes: bool(1), float64(13), object(29)
memory usage: 1.5+ MB
None

In [12]:
df.head()

,post_id,property_url,transaction_type,property_category,title,latitude,longitude,price,area,description,...,electricity,water,internet,furniture,utilities,num_floor,road_width,front_width,legal,0
0,44864919,https://batdongsan.com.vn/cho-thue-can-ho-chun...,rent,Mini Apartment,TRẢI NGHIỆM TIỆN NGHI CĂN HỘ BANCOL FULL NỘI T...,10.821192,106.695422,5 triệu/tháng,35.0,Khám phá không gian sống đa dạng dịch vụ tốt ...,...,Theo nhà cung cấp,Theo nhà cung cấp,Do chủ nhà quy định,Đầy đủ,NaN,NaN,NaN,NaN,NaN,NaN
1,43642752,https://batdongsan.com.vn/cho-thue-can-ho-chun...,rent,Apartment,"Cho thuê gấp 2PN 90m2 - full decor, giá ổn áp ...",10.794996,106.720537,"18,5 triệu/tháng",90.0,Cần đi định cư nên cho thuê gấp căn hộ 2PN Vin...,...,Theo nhà cung cấp,Theo nhà cung cấp,Thỏa thuận,Đầy đủ,"Camera, PCCC",NaN,NaN,NaN,NaN,NaN
2,44423087,https://batdongsan.com.vn/cho-thue-can-ho-chun...,rent,Apartment,NHIỀU CĂN HỘ SUNRISE CITY CHO THUÊ GIÁ RẺ CUỐI...,10.739018,106.700526,16 triệu/tháng,99.0,"* Nội dung.Địa chỉ căn hộ ở 23,25,27,33 đường ...",...,Theo nhà cung cấp,Theo nhà cung cấp,Thỏa thuận,Đầy đủ,"Camera, PCCC",NaN,NaN,NaN,NaN,NaN
3,44861330,https://batdongsan.com.vn/cho-thue-nha-rieng-d...,rent,Private House,CHO THUÊ NHÀ NGUYÊN CĂN MỚI XÂY TRUNG TÂM TT L...,10.792590,106.951639,30 triệu/tháng,200.0,"Nhà mới xây hiện đại, 1 trệt 2 lầu, 5PN 4WC.Di...",...,Theo nhà cung cấp,Theo nhà cung cấp,NaN,Đầy đủ,NaN,3.0,6.0,NaN,NaN,NaN
4,42961364,https://batdongsan.com.vn/cho-thue-can-ho-chun...,rent,Apartment,Tổng hợp quỹ căn giá tốt cho thuê tại Vinhomes...,21.002348,105.964154,5 triệu/tháng,43.0,"Quỹ căn cho thuê, chuyển nhượng tìm theo yêu c...",...,NaN,NaN,NaN,Đầy đủ,NaN,NaN,NaN,NaN,NaN,NaN